{% extends 'base.html' %}

{% block title %}View Orders{% endblock %}

{% block content %}
<div class="container">
    <h2>Your Orders</h2>
    <ul>
        {% for item in items_in_cart %}
        <li>
            <img src="{{ item.image.url }}" alt="{{ item.name }} Image" width="100" height="100">
            <div>
                <h3>{{ item.name }}</h3>
                <p>{{ item.category.name }}</p>
                <p>Price: ₹{{ item.price }}</p>
            </div>
            <form action="{% url 'delete_item' item.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'categories' %}" class="back-link">Back to Categories</a>
</div>
{% endblock %}



